<script setup lang="ts">
import IconoBasura from './icons/BasureroIcon.vue'

interface Props {
  id: string
  description: string
  state: boolean
}

const { description, state } = defineProps<Props>()
defineEmits(['check-to-do', 'delete-to-do'])
</script>

<template>
  <div
    class="flex items-center border border-gray-200 rounded-md p-4 shadow-md hover:shadow-lg transition-all duration-300"
  >
    <div class="flex items-center justify-center pr-4">
      <input
        type="checkbox"
        :checked="state"
        @change="$emit('check-to-do')"
        :class="`rounded-md size-6 border border-gray-300 text-emerald-600 cursor-pointer ${state ? 'focus:ring-emerald-500' : 'focus:ring-amber-500'}`"
      />
    </div>
    <div class="grow">
      <p :class="`${state ? 'line-through' : ''}`">{{ description }}</p>
      <p :class="`text-sm mt-2 font-medium ${state ? 'text-emerald-500' : 'text-amber-500'}`">
        {{ state ? 'Completado' : 'Pendiente' }}
      </p>
    </div>
    <button
      @click="$emit('delete-to-do')"
      class="bg-red-500 text-white ml-4 p-2 rounded-lg focus:outline-1 focus:outline-offset-2 focus:outline-red-500"
    >
      <IconoBasura />
    </button>
  </div>
</template>
