<script setup lang="ts">
import { ref } from 'vue'
import { v4 as newId } from 'uuid'

import ToDoElement from './ToDoElement.vue'

const newToDo = ref('')
const todos = ref<
  {
    id: string
    description: string
    state: boolean
  }[]
>([
  {
    id: newId(),
    description: 'Estudiar para el examen de Programacion Web II',
    state: false
  }
])

const addToDo = () => {
  todos.value.unshift({
    id: newId(),
    description: newToDo.value,
    state: false
  })
  newToDo.value = ''
}
const checkToDo = (id: string) => {
  const index = todos.value.findIndex((todo) => todo.id === id)
  todos.value[index].state = !todos.value[index].state
}
const deleteToDo = (id: string) => {
  const index = todos.value.findIndex((todo) => todo.id === id)
  todos.value.splice(index, 1)
}
</script>

<template>
  <main class="h-screen p-4 text-gray-800">
    <div class="mx-auto max-w-[40rem]">
      <h1 class="text-center font-semibold text-5xl mb-8 text-emerald-500">To Do App</h1>
      <form @submit.prevent="addToDo" class="flex gap-4 flex-col sm:flex-row">
        <input
          class="grow rounded-md border-gray-400 focus:border-emerald-500 focus:ring-emerald-500"
          type="text"
          v-model="newToDo"
          required
        />
        <button
          type="submit"
          class="bg-emerald-500 px-3 py-1 rounded-md text-white font-semibold active:scale-95 focus:outline-1 focus:outline-offset-2 focus:outline-emerald-500"
          tabindex="0"
        >
          Agregar
        </button>
      </form>
      <div class="flex flex-col gap-4 my-8 pb-8">
        <h2 class="font-semibold">Lista de tareas:</h2>
        <template v-if="todos.length > 0">
          <ToDoElement
            v-for="{ id, description, state } in todos"
            :id="id"
            :description="description"
            :state="state"
            @check-to-do="checkToDo(id)"
            @delete-to-do="deleteToDo(id)"
            :key="id"
          />
        </template>
        <div v-else class="p-4 border border-gray-200 rounded-md shadow-md">
          No hay tareas pendientes...
        </div>
      </div>
    </div>
  </main>
</template>
